using System.Collections.Generic;
<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @foreach (Job item in ViewBag.jobs)
    {
<table class="job-listing">
    <tr>
        <td>Id</td>
        <td>@item.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@item.Name</td>
    <tr>
        <td>Employer</td>
        <td><a asp-route-column="employer" asp-route-value="@item.Employer">@item.Employer</a></td>
    <tr>
        <td>Location</td>
        <td><a asp-route-column="location" asp-route-value="@item.Location">@item.Location</a></td>
    <tr>
    </tr>
    <tr>
        <td>Position Type</td>
        <td><a asp-route-column="positionType" asp-route-value="@item.PositionType">@item.PositionType</a></td>
    </tr>
    <tr>
        <td>Skill</td>
        <td><a asp-route-column="coreCompetency" asp-route-value="@item.CoreCompetency">@item.CoreCompetency</a></td>
    </tr>



</table>
    }



    


</div>